@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	box-sizing: border-box;
}

body {
	padding: 2ch;
	font-family: 'Montserrat', sans-serif;
	max-width: 800px;
	margin: 0 auto;
	font-size: 17px;
}

p, li {
	line-height: 1.8rem;
}


h1,
h2,
h3 {
	font-weight: normal;
	color: #08608c;
}

h1 {
	margin-bottom: 1.25rem;
}

a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px dotted lightgray;
}

a:hover {
	border-bottom: 2px solid lightgray !important;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1a1a1a;
		color: #fcfcfc;
	}

	h1,
	h2,
	h3 {
		color: inherit;
	}

	code,
	.rehype-code-title + div[data-rehype-pretty-code-fragment] {
		background-color: #252525 !important;
	}

	code > .line::before,
	.rehype-code-title {
		border-color: #575757 !important;
	}

	pre[data-theme='light'],
	code[data-theme='light'] {
		display: none;
	}
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
	pre[data-theme='dark'],
	code[data-theme='dark'] {
		display: none;
	}

	body {
		background-color: #fcfcfc;
		color: #1a1a1a;
	}
}

/* code formatting */
code {
	counter-reset: line;
	background-color: #f2f2f2;
}

.rehype-code-title + div[data-rehype-pretty-code-fragment] {
	background-color: #f2f2f2;
}

pre > code {
	display: grid;
	padding: 0.5rem 0;
	font-size: 14px;
}

code > .line::before {
	counter-increment: line;
	content: counter(line);

	display: inline-block;
	min-width: 3ch;
	text-align: center;
	padding: 0 0.5ch;
	margin-right: 1rem;
	color: gray;
	border-right: 1px solid black;
}

.rehype-code-title {
	margin-bottom: -0.9rem;
	position: relative;
	padding: 0.5em 0.5em;
	border-bottom: 1px solid black;
	font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter',
		'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
		'Courier New', Courier, monospace;
	font-size: 16px;
}
